#performance-stats-section{
  margin: 0.5rem;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

#performance-stats{
  background-color: black;
  color: white;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.74, 0.16, 0, 1.86);
 
}

/* Show the box when not hidden */
#performance-stats.show {
  opacity: 1;
}

#performance-stats-section .button{
  pointer-events: all;
}